<div class="container">
  <div class="col-lg-6">
    <form #formSubmit="ngForm" (ngSubmit)="submitContact(formSubmit.value)" >
        <div class="panel-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="Name" name="Name" >
          </div>
          <div class="form-group">
              <label>Mobile</label>
              <input type="text" class="form-control" [(ngModel)]="Mobile" name="Mobile" >
          </div>
          <div class="form-group">
              <label>Gender</label>
              <input type="radio" value="Male" class="form-control" [(ngModel)]="Gender" name="Gender" >
              <input type="radio" value="Female" class="form-control" [(ngModel)]="Gender" name="Gender" >
          </div>
        </div>
        <div class="panel-footer">
            <input type="submit" btn="btn btn-primary" value="Submit">
        </div>
    </form>
  </div>
</div>